h1, h2, h3, h4, h5 > span {
  color: #595959;
}

.grey {
  color: #595959;
}

.cal {
  display: grid;
  grid-template-rows: repeat(7, 15px);
  grid-auto-flow: column;
  gap: 1.25px;
}

.day {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  padding: 1px;
  background-color: lightgray;
}

.day.incident {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1.25px rgb(211, 78, 78) solid;
  background-color: lightgray;
}

.day.active {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1.75px rgb(0, 0, 167) solid;
  background-color: lightgray;
}

thead.rotate th {
  border: 0px solid;
  /* Something you can count on */
  height: 140px;
  white-space: break-spaces;
}

thead.rotate th > div {
  transform: 
    translate(25px, 80px)
    rotate(-85deg);
  width: 30px;
}

table tr td, table tr th {
  max-width: 350px;
}

/**
 * Bar Chart
 */
 
 .bar-chart {
  display: flex;
  justify-content: center;
 }

 .bar-container {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  width: 30px;
  margin: 10px auto;
  align-items: flex-end;
  align-content: space-around;
}

.bar {
  width: 30px; /* Adjust as needed */
  background-color: #275a90;
  display: flex;
  border-radius: 3px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.bar-legend-main {
  color: rgba(39,90,144,1);
}

.bar-legend-second {
  color: rgba(39,90,144,0.50)
}

.bar:nth-child(2) {
  background-color: rgba(39,90,144,0.50);
}

.bar-container label {
  position: absolute;
  margin-bottom: -25px;
  color: #252525; 
  width: 20px;
  text-align: center;
  font-size: 10px;
}

sub, sub > span {
  font-size: 10px;
  font-weight: 200;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  gap: 16px; /* Adjust the gap between columns as needed */
}

.grid-item {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ddd;   
  text-align: center;
}

input[type="date"], input[type="number"] {
  all: unset;
  color: #595959;
  font-family: normal 400 normal 1.125rem/1.85625rem system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid #ddd; 
  border-radius: 3.6px;
  text-align: center;
  text-align-last: center;
  line-height: 16px;
  font-size: 12px;
}

select {
  all: unset;
  color: #595959;
  padding: 2px;
  margin: 0;
  border-radius: 3.6px;
  border: 1px solid #ddd; 
  text-align: center;
  width: 160px;
  text-align-last: center;
  line-height: 16px;
  font-size: 12px;
  font-family: normal 400 normal 1.125rem/1.85625rem system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}